@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}


/* Navbar */

.link {
  color: #FFF;
  transition: .05s;
}
.link:hover {
  padding-bottom: 5px;
  color: #FFF;
  
}

.mmlogo {
  transition: .2s;
}

.mmlogo:hover {
  transform: scale(1.25);
}

nav {
  border-bottom: 0.1px solid whitesmoke;
}

div.navbar-start:hover > div {
  opacity: 0.5;
}

div.navbar-start:hover > div:hover {
  opacity: 1;
}

div.navbar-end:hover > div {
  opacity: 0.5;
}

div.navbar-end:hover > div:hover {
  opacity: 1;
}


/* Footer */

#links {
  color: #FFF;
}

#links:hover {
  color: #e600ff;
}

.row {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

#footer {
  border-top: 0.1px solid whitesmoke;
}


/* HOME page */

/* Hero on Home page */

.mainHero {
  background-image: url("https://i.imgur.com/aqvbG6x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
}

@media only screen and (min-width: 1225px) {
  .mainHero {
    margin-top: -150px;
    margin-bottom: -150px;
  }
}


/* Featured Museum on Home page */

#featured-container {
  scroll-behavior: smooth;
}

.featuredMuseumTitle {
  margin-top: 20px;
  scroll-behavior: smooth;
}

.featuredMuseumSection {
  position: fixed;
}

.arrowBelowTitle {
  margin-top: -5px;
}

.museumsCardContainer {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  min-height: 40vh;
}

.visitWebiteBtn {

  transition: .2s;
}

.visitWebiteBtn:hover {
  transform: scale(1.03);
}

.heroImageHome{
  border-radius: 5px;
}


/* Filter Panel on Home page */

#filter-panel {
  background-color: #D0D3D4;
}

#filter-panel-region {
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (min-width: 1225px) {
  #filter-panel-section {
    display: flex;
    justify-content: center;
  }
  #filter-panel {
    margin-top: 40px;
    border-radius: 100px;
    width: 1200px;
  }
}

/* FilteredMuseums page */

#errorMessageHero-FilteredMuseums {
  height: 75vh;
}


/* Register and Login */

#register-section {
  height: 80vh;
  min-height: 700px;
}

#login-section {
  height: 80vh;
  min-height: 500px;
}



/* MuseumIndex */

.museumImages {
  filter: saturate(140%);
}

.museumCard {
  transition: transform .25s; /* Animation */
}

.museumCard:hover {
  padding: -50px;
  transform: scale(1.1);
  z-index: 1;
}

.cardRegion {
  color: black;
}

.bookmark {
  font-size: 18px;
  padding: 10px;
  margin-top: -11px;
  margin-right: px;
  color: red;
  transition: transform .1s;
}

.bookmark:hover {
  color: red;
  transform: scale(1.03);
}

#errorMessageHero-MuseumIndex {
  height: 75vh;
}

#museum-index-section {
  min-height: 52vh;
}


/* MuseumIndex Filter */

#index-filter-panel {
  background-color: #D0D3D4;
  border-radius: 5px;
}

#index-filter-panel-region, #index-filter-panel-collection-types {
  font-family: 'Quicksand', sans-serif;
}


/* MuseumShow */

.descAndPic {
  background-color: black;
}

.showAllHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.imgur.com/Pg8xJiP.jpg');
  background-position: center;
  background-size: cover;
}

.singleMuseumHeroBody {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.imgur.com/Pg8xJiP.jpg');
  background-position: center;
  background-size: cover;
}

.heroImageHome {
  border: 5px solid white;
}

#museumshow-standout-exhibit-card {
  max-width: 50vh;
}

@media only screen and (max-width: 700px) {
  .descAndPic {
    display: flex;
    flex-direction: column;
  }
}

/* Swiper styling on MuseumShow */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

/* Standout Exhibit section in MuseumShow */

.standoutExhibitHeader {
  font-size: 25px;
}

.exhibitImage {
  filter: saturate(200%);
}



/* Map */

#map-column {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  #map-list-column {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vw;
  }
}

.map-container {
  height: 86vh;
}

.map-list-container {
  max-height: 86vh;
  overflow-y: auto;
}

/* map scrollbar width */
.map-list-container::-webkit-scrollbar {
  width: 22px;
}
/* map scrollbar track */
.map-list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgb(90, 90, 90);
  background: white;
  border-radius: 8px;
}
/* map scrollbar handle */
.map-list-container::-webkit-scrollbar-thumb {
  background: #209CEE;
  box-shadow: inset 0 0 8px rgb(90, 90, 90);
  border-radius: 8px;
}
/* map scrollbar handle hover state */
.map-list-container::-webkit-scrollbar-thumb:hover {
  background: #1D72AA; 
}

#map-card-container {
  width: 170px;
}

.museum-list-card, .map-icon {
  cursor: pointer;
}


/* Standout exhibit page */

.standoutPage {
  background-color: black;
}

.standoutCard {
  width: 300px;
}

.standoutCards {
  transition: .2s;
  width: 200px;
}

.standoutCards:hover {
  transform: scale(1.1);
  z-index: 1;
}

.exhibitImage {
  filter: saturate(150%);
  size: cover;
}

.standoutExhibitsHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.imgur.com/xJj5kZg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 3px solid white;
}

.standoutContainer {
  background-color: white;
  border-radius: 5px;
}


/* Profile */

#profile-section {
  min-height: 85vh;
}


