@import url('http://fonts.googleapis.com/css?family=Oswald');

* {
  font-family: 'Quicksand', sans-serif;
}


/* Removed as throwing off responsive design: */

/* .site-wrapper{
  min-height: calc(100vh - 206px);
} */


/* Navbar styling starts here */
.link {
  color: #FFF;
  transition: .2s;
}
.link:hover {
  transform: scale(1.25);
  color: #FFF;
  padding-bottom: 15px;
}

.mmlogo {
  transition: .2s;
}

.mmlogo:hover {
  transform: scale(1.25);
}

nav {
  border-bottom: 0.1px solid whitesmoke;
}
/* navbar styling ends here */

/* Footer styling starts here */
#links {
  color: #FFF;
}

#links:hover {
  color: #e600ff;
}

.row {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

#footer {
  border-top: 0.1px solid whitesmoke;
}
/* footer styling ends here */
.descAndPic {
  background-color: black;
}

.showAllHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../AssetsTest/dinoskeleton2.jpeg');
  background-position: center;
  background-size: cover;
}

.singleMuseumHeroBody {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../AssetsTest/dinoskeleton2.jpeg');
  background-position: center;
  background-size: cover;
}

.heroImageHome {
  border: 5px solid white;
}


/* Don't think this does anything?: */

/* .heroTitleSubtitleHome {
  border: 1px solid black;
  background-color: white;
} */


.visitWebiteBtn {
  padding-top: 20px;
  padding-bottom: 20x;
  transition: .2s;
}

.visitWebiteBtn:hover {
  transform: scale(1.03);
}

/* Filter Panel */

#filter-panel {
  background-color: #D0D3D4;
}

#filter-panel-region {
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (min-width: 1225px) {
  #filter-panel-section {
    display: flex;
    justify-content: center;
  }
  #filter-panel {
    margin-top: 40px;
    border-radius: 100px;
    width: 1200px;
  }
}

/* Hero on Home page */

.mainHero {
  background-image: url("https://i.imgur.com/aqvbG6x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
}

@media only screen and (min-width: 1225px) {
  .mainHero {
    margin-top: -150px;
    margin-bottom: -130px;
  }
}

/* Featured Museum on Home page */

.featuredMuseumTitle {
  margin-top: 20px;
}

.featuredMuseumSection {
  position: fixed;
}

.arrowBelowTitle {
  margin-top: -5px;
}

.museumsCardContainer {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  transform: scale(1.03);
}


/* MuseumIndex */

.museumCard {
  transition: transform .25s; /* Animation */
}

.museumCard:hover {
  padding: -50px;
  transform: scale(1.2);
  z-index: 1;
}

.cardRegion {
  color: black;
}

.bookmark {
  font-size: 18px;
  padding: 10px;
  margin-top: -11px;
  margin-right: px;
  color: red;
  transition: transform .1s;
}

.bookmark:hover {
  color: red;
  transform: scale(1.03);
}
/* Profile */
#profile-section {
  height: 100vh;
}
/* Map */

.map-container {
  height: 100vh;
  width: 100vw;
}

/* Register and Login */

#register-section, #login-section {
  height: 100vh;
}

