

.link {
  color: #FFF;
}
.link:hover {
  color: #00F
}

.a {
  color: #FFF;
}
.a:hover {
  color: #00F
}

.showAllHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../AssetsTest/dinoskeleton2.jpeg');
  background-position: center;
  background-size: cover;
}




